{% load thumbnail %}
<article>
  <ul>
    <li>
      Автор: {{ post.author.get_full_name }}
      <a class="btn btn-primary" href={% url 'posts:profile' post.author.username %}>все посты пользователя</a>
    </li>
    <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
    {% thumbnail post.image "1280x720" upscale=True as im %}
      <img src="{{ im.url }}" width="{{ im.url }}" height="{{ im.url }}">
    {% endthumbnail %}
  <p>
    {{ post.text }}
  </p>
</article>
  <a class="btn btn-primary" href="{% url 'posts:post_detail' post.id %}">подробная информация</a>
